<?php
require_once __DIR__.'/header.css';
require_once __DIR__.'/list.css';
require_once __DIR__.'/footer.css';
?>

.screenshot { display: flex; min-width: 0; }
.screenshot img, .screenshot figure { max-width: 100%; height: auto; display: block; }
