.program-list { display:grid; gap:calc(var(--pico-block-spacing-vertical) * 2); }
@media (min-width:460px) { .program-list { grid-template-columns:repeat(2, 1fr); } }
@media (min-width:720px) { .program-list { grid-template-columns:repeat(3, 1fr); } }
@media (min-width:980px) { .program-list { grid-template-columns:repeat(4, 1fr); } }
@media (min-width:1240px) { .program-list { grid-template-columns:repeat(5, 1fr); } }
@media (min-width:1500px) { .program-list { grid-template-columns:repeat(6, 1fr); } }
@media (min-width:1760px) { .program-list { grid-template-columns:repeat(7, 1fr); } }

.program-item { display:grid; grid-template-columns:1fr; grid-template-rows:max-content auto;
align-content:space-between; }

.program-item>a { display:flex; flex-direction:column; text-decoration:none; color:var(--pico-color); cursor:default; }
.program-item>a.is-post { cursor:pointer; }

.program-item .visual { margin:calc(var(--pico-block-spacing-vertical)*-1) calc(var(--pico-block-spacing-horizontal)*-1) 0 calc(var(--pico-block-spacing-vertical)*-1); border-top-left-radius:var(--pico-border-radius); border-top-right-radius:var(--pico-border-radius); overflow:hidden; }
.program-item .picture { height:100%; background-size:cover; aspect-ratio:1; }
.program-item .picture::after { content:""; display:block; width:100%; height:100%; background-color:rgba(255, 255, 255, 0.95); }

.program-item .info>* { display:inline-block; margin-right:var(--pico-block-spacing-vertical); }

.program-item .info>*:not(:last-child) { margin-bottom:0; }
.program-item .info>*:not(:first-child) { margin-top:0; }
.program-item .info>*:first-child { margin-top:var(--pico-typography-spacing-vertical); }

.program-item details { justify-self:end; margin-bottom:0; margin-top:var(--pico-block-spacing-vertical); }
.program-item details summary+ul { bottom:calc(1rem * var(--pico-line-height) + var(--pico-form-element-spacing-vertical) * 2 + var(--pico-border-width) * 2); right:0; left:unset; }

.program-item.what p { text-wrap: balance; text-align: right; }

.post-list { display:flex; flex-direction:column; gap:calc(var(--pico-block-spacing-vertical) * 0.5); align-items:center; }
.post-item { min-width:100%; padding:0; }
@media (min-width:980px) { .post-item { min-width:80%; } }
@media (min-width:1240px) { .post-item { min-width:70%; } }
@media (min-width:1500px) { .post-item { min-width:60%; } }

.post-item>a { text-decoration: none; display: flex; overflow: hidden; flex-direction: row; gap: 0.5rem; }

.post-item .visual { border-top-left-radius: var(--pico-border-radius); border-bottom-left-radius: var(--pico-border-radius); overflow: hidden; flex-basis: 4.3em; }
.post-item .picture { width:100%; height:100%; background-size:cover; }
.post-item .picture::after { content:""; display:block; width:100%; height:100%; background-color:rgba(255, 255, 255, 0.90); }

.post-item .info { margin: 0.5rem 0.5rem 0.5rem 0; flex-grow:1; }
.post-item .name { margin-bottom: 0.5em; }
.post-item .points, .post-item .author, .post-item .date { display: inline-block; margin: 0 0.5rem 0 0; }

.points { color:var(--pico-primary); }
.points::after { content:"pts"; }
.author { color:var(--pico-secondary); font-weight: bold; }
.author::before { content:"by "; font-weight:normal; }
.date { color:var(--pico-secondary); }
.date::before { content:"the "; }

dialog header { border: none; }
.publish-dialog fieldset.grid, .post-dialog fieldset.grid { grid-template-columns: 1fr 1fr; }

dialog fieldset .limit { display: none; float: right; }
