*.bc
*.rdb
*.o
.DS_Store
build*
xcuserdata
node_modules
package-lock.json
package.json
venv
.cxx
.idea
.gradle
.project
.settings
.classpath
local.properties
!build.gradle
/package
private.php
dump.rdb
