
button.google-sign-in {position: relative;padding-left: 70px; }
button.google-sign-in::before {content: "";width: 56px;background-color: white;background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 48 48'><path fill='%23FFC107' d='M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z'/><path fill='%23FF3D00' d='M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z'/><path fill='%234CAF50' d='M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z'/><path fill='%231976D2' d='M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z'/></svg>");display: inline-block;position: absolute;top: 1px;left: 1px;border-radius: 3px;height: calc(100% - 2px);background-position: center;}


/* body { overflow-y:scroll; }

article { padding:var(--block-spacing-horizontal); }
article>*:last-child { margin-bottom:0; }

form>*:last-child { margin-bottom:0; }
form>button { width:100%; }

header+main { padding-top:0; }
article { margin-top:0; }

a[aria-busy=true] {margin-left:var(--nav-link-spacing-vertical);}
a[aria-busy=true]::before { position:relative; left:-10px; }

.blocker { position:absolute; left:0; top:0; border-radius:var(--border-radius); width:100%; height:100%; backdrop-filter:contrast(0.5); display:flex; align-items:center; justify-content:center; }
.blocker>article { width:30%; }

button#google-sign-in {position: relative;padding-left: 70px;}
button#google-sign-in::before {content: "";width: 56px;background-color: white;background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 48 48'><path fill='%23FFC107' d='M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z'/><path fill='%23FF3D00' d='M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z'/><path fill='%234CAF50' d='M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z'/><path fill='%231976D2' d='M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z'/></svg>");display: inline-block;position: absolute;top: 1px;left: 1px;border-radius: 3px;height: calc(100% - 2px);background-position: center;}

button.home { background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='34' viewBox='0 -960 960 960' width='34'><path fill='%23fff' d='M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z'/></svg>"); background-position: center; width: 60px; }

img.picture { width: 3rem; height: 3rem; background-color: antiquewhite; }

button.outline {background-color: var(--primary-inverse);color: var(--primary); }
button.outline:hover { background-color: var(--contrast-focus);}

button.secondary { background-color: var(--secondary); color: var(--secondary-inverse); border-color: var(--secondary); }
button.secondary:hover { background-color: var(--secondary-hover); }

nav.forum-list ul {display: flex;width: 100%;}
nav.forum-list li { flex: 2; }
nav.forum-list li:last-child { flex: 1; }
nav.forum-list li button { width: 100%; }

#upload-card article { margin:0; }
#upload-card { position:relative; } */
