
.first-item
{ margin-bottom: calc(var(--pico-block-spacing-vertical)
	* 3); }

.first-item
{ display: grid;
	height: 7em;
	grid-template-columns: calc(7em - var(--pico-block-spacing-vertical)
 * 2) 1fr;
	grid-template-rows: 3fr 5fr;
	gap: 0 calc(var(--pico-block-spacing-vertical) * 2);
	grid-template-areas: "visual info" "visual content"; }

.first-item .visual
{ grid-area: visual;
	margin: calc(-1 * var(--pico-block-spacing-vertical)) calc(-1 * var(--pico-block-spacing-horizontal));
	overflow: hidden;
}

.first-item .info
{ grid-area: info;
	align-self: flex-end; }

.first-item .content
{ grid-area: content; }

.first-item .title,
.first-item .author
{ margin: 0; }

.first-item .author
{ margin-right: 0.5em; }

.first-item .picture
{ width: 100%;
	height: 100%;
	background-size: cover;
	border-radius: var(--pico-border-radius) 0 0 var(--pico-border-radius); }

.first-item .picture::after
{ content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.90); }

.first-item .info
{ display: flex;
	align-items: baseline; }

.first-item .points::after
{ content: "pts"; }
