.publish-dialog article
{ height:100%; }

.publish-dialog article,
.publish-dialog main,
.publish-dialog fieldset:nth-child(1)
{ display:flex; flex-direction:column; }

.publish-dialog main,
.publish-dialog fieldset:nth-child(1),
.publish-dialog textarea
{ flex:1; }
